.list-link{
    text-decoration: none;
    margin-right: 1.3rem;
    color:#999999;
}

.list-header-link{
    text-decoration: none;
    color:#333333;
}

.nav-list{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin:0;
    //margin-bottom: 100px;
}

.list-link:hover{
    color:#666666
}

.active-list-link{
    color: #333333;
}

.active-list-link:hover{
    color: #333333;
}

.container{
    margin-bottom: 50px;
}